# SPDX-FileCopyrightText: © 2024 Mark Delk <jethrodaniel@gmail.com>
#
# SPDX-License-Identifier: Zlib

# zig artifacts and cache
zig-out
.zig-cache
/**/zig-out/
/**/.zig-cache/

# local copy of SDL, used when updating
SDL/
